In [12]:
data = 'ironhack_service_account_big_query.json'

In [13]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]=data

from google.cloud import bigquery

In [15]:
# Instantiates a client for BigQuery Service
client = bigquery.Client()

In [16]:
import six
six.moves.reload_module(six)

In [18]:
from google.cloud import bigquery

In [19]:
QUERY_1 = (
    """
    SELECT * FROM `bigquery-public-data.usa_names.usa_1910_2013`
    WHERE state = "TX"
    LIMIT 100""")

In [20]:
query_job = client.query(query=QUERY_1)

In [22]:
df = query_job.to_dataframe()

In [23]:
df.head(10)

  state gender  year       name  number
0    TX      F  1910    Frances     197
1    TX      F  1910      Alice     149
2    TX      F  1910   Beatrice     123
3    TX      F  1910       Ella     102
4    TX      F  1910   Gertrude      97
5    TX      F  1910  Josephine      86
6    TX      F  1910       Lula      77
7    TX      F  1910    Blanche      50
8    TX      F  1910   Marjorie      40
9    TX      F  1910  Christine      34