### Steps of data preparation

- Exploratory Data Analysis
- Dealing with Missing Values
- Data Transformations
- Dealing with Outliers
- Dealing with Imbalanced Data

https://www.kdnuggets.com/2017/06/7-steps-mastering-data-preparation-python.html/2

### Import libraries

In [1]:
import numpy as np
import pandas as pd

### Analysis

In [4]:
# Read the data

df = pd.read_csv("train.csv", encoding='iso-8859-1')

In [5]:
# Check the first 5 rows of the data frame
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# Info about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [11]:
# Number of passengers in each class
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [17]:
# Number of passengers in each gender
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [29]:
# Number of men and women in each of the passenger class

In [30]:
# Number of passengers who survived in each class grouped by sex. Also total was found for each class grouped by sex.

In [31]:
# Only choose passengers that did not survive

In [32]:
# Number of passengers who did not survive in each class grouped by sex.

In [33]:
# Passengers who survived and who didn't survive grouped by class and sex

In [34]:
# Understand age distribution

In [35]:
# How many null values do we  have?

In [36]:
# See the rest of the columns

In [37]:
# titanic_df['Age'].fillna((titanic_df['Age'].mean()), inplace=True)
# Drop missing values for the records in which age passenger is missing

In [38]:
# Create a function to define those who are children (less than 16)

In [39]:
# Apply this function

In [40]:
# Can you now do the same with a lambda function?

In [42]:
# Who was alone and who was with parents or siblings? Create a new column

In [43]:
# Drop the null  values for Cabin - should we?

In [44]:
# Create new column out of 'sruvived' column with 'no' for 0 and 'yes' for 1