In [7]:
import pandas as pd
import numpy as np

### READ DATA

In [8]:
data = pd.read_csv('vehicles/vehicles_messy.csv',low_memory=False)

In [9]:
data

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37838,14.982273,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37839,14.330870,0.0,0.0,0.0,20,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37840,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37841,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37842,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

### EXAMINE FOR POTENTIAL ISSUES

In [10]:
data.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

#### Missing values

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 83 columns):
barrels08          37843 non-null float64
barrelsA08         37843 non-null float64
charge120          37843 non-null float64
charge240          37843 non-null float64
city08             37843 non-null int64
city08U            37843 non-null float64
cityA08            37843 non-null int64
cityA08U           37843 non-null float64
cityCD             37843 non-null float64
cityE              37843 non-null float64
cityUF             37843 non-null float64
co2                37843 non-null int64
co2A               37843 non-null int64
co2TailpipeAGpm    37843 non-null float64
co2TailpipeGpm     37843 non-null float64
comb08             37843 non-null int64
comb08U            37843 non-null float64
combA08            37843 non-null int64
combA08U           37843 non-null float64
combE              37843 non-null float64
combinedCD         37843 non-null float64
combinedUF         37843 non-null float64
cylinders          37720 non-null float64
displ              37723 non-null float64
drive              36654 non-null object
engId              37843 non-null int64
eng_dscr           22440 non-null object
feScore            37843 non-null int64
fuelCost08         37843 non-null int64
fuelCostA08        37843 non-null int64
fuelType           37843 non-null object
fuelType1          37843 non-null object
ghgScore           37843 non-null int64
ghgScoreA          37843 non-null int64
highway08          37843 non-null int64
highway08U         37843 non-null float64
highwayA08         37843 non-null int64
highwayA08U        37843 non-null float64
highwayCD          37843 non-null float64
highwayE           37843 non-null float64
highwayUF          37843 non-null float64
hlv                37843 non-null int64
hpv                37843 non-null int64
id                 37843 non-null int64
lv2                37843 non-null int64
lv4                37843 non-null int64
make               37843 non-null object
model              37843 non-null object
mpgData            37843 non-null object
phevBlended        37843 non-null bool
pv2                37843 non-null int64
pv4                37843 non-null int64
range              37843 non-null int64
rangeCity          37843 non-null float64
rangeCityA         37843 non-null float64
rangeHwy           37843 non-null float64
rangeHwyA          37843 non-null float64
trany              37832 non-null object
UCity              37843 non-null float64
UCityA             37843 non-null float64
UHighway           37843 non-null float64
UHighwayA          37843 non-null float64
VClass             37843 non-null object
year               37843 non-null int64
youSaveSpend       37843 non-null int64
guzzler            2281 non-null object
trans_dscr         15047 non-null object
tCharger           5186 non-null object
sCharger           666 non-null object
atvType            3072 non-null object
fuelType2          1408 non-null object
rangeA             1403 non-null object
evMotor            562 non-null object
mfrCode            7025 non-null object
c240Dscr           37 non-null object
charge240b         37843 non-null float64
c240bDscr          36 non-null object
createdOn          37843 non-null object
modifiedOn         37843 non-null object
startStop          6138 non-null object
phevCity           37843 non-null int64
phevHwy            37843 non-null int64
phevComb           37843 non-null int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 23.7+ MB

In [12]:
null_cols = data.isnull().sum()

In [13]:
null_cols [null_cols > 0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [14]:
drop_cols = list(null_cols[null_cols > 10000].index)
print(drop_cols)

['eng_dscr', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr', 'startStop']

In [15]:
data = data.drop(drop_cols, axis=1)

In [16]:
data.shape

(37843, 70)

We can see that most of the time, cylinders is null when displ is null and that the most of the records where both fields are null have a fuel type of Electricity. This makes sense, as electric cars do not have cylinders and can therefore not have any displacement. In this case, it would make sense to replace these null values with zeros. Pandas makes it easy to do that with the fillna method.

In [17]:
null_displ = data[(data['displ'].isnull() == True)]

In [18]:
null_displ = null_displ[['year', 'make', 'model', 'trany', 'drive', 'fuleType', 'cylinders', 'displ']]

KeyError: "['fuleType'] not in index"

In [19]:
null_displ

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
7138,0.240,0.0,0.0,0.0,81,0.0000,0,0.0,0.0,41.0000,...,0.0,Midsize Station Wagons,2000,2750,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
7139,0.282,0.0,0.0,0.0,81,0.0000,0,0.0,0.0,41.0000,...,0.0,Sport Utility Vehicle - 2WD,2000,2250,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8143,0.282,0.0,0.0,0.0,81,0.0000,0,0.0,0.0,41.0000,...,0.0,Sport Utility Vehicle - 2WD,2001,2250,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8144,0.312,0.0,0.0,0.0,74,0.0000,0,0.0,0.0,46.0000,...,0.0,Two Seaters,2001,1750,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8146,0.522,0.0,0.0,0.0,45,0.0000,0,0.0,0.0,75.0000,...,0.0,Sport Utility Vehicle - 2WD,2001,-1750,0.00,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30969,0.192,0.0,0.0,4.0,120,119.6000,0,0.0,0.0,28.1744,...,0.0,Small Station Wagons,2017,3750,0.00,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30972,0.204,0.0,0.0,10.0,98,97.5636,0,0.0,0.0,35.0000,...,0.0,Large Cars,2016,3500,3.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30973,0.192,0.0,0.0,12.0,101,101.4750,0,0.0,0.0,33.0000,...,0.0,Large Cars,2016,3750,3.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30974,0.210,0.0,0.0,12.0,92,92.4713,0,0.0,0.0,36.0000,...,0.0,Large Cars,2016,3250,4.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0
30975,0.216,0.0,0.0,12.0,91,91.2362,0,0.0,0.0,37.0000,...,0.0,Standard Sport Utility Vehicle 4WD,2016,3250,4.75,Tue Sep 13 00:00:00 EDT 2016,Tue Sep 13 00:00:00 EDT 2016,0,0,0

In [22]:
data[['displ', 'cylinders']] = data[['displ', 'cylinders']].fillna(0)

### INCORRECT VALUES

A vehicle without cylinders should not have displacement and vice versa.

In [23]:
test = data[(data['cylinders']==0) & (data['displ']!=0)]

In [25]:
test[['year', 'make', 'model', 'trany', 'drive', 'fuelType', 'cylinders', 'displ']]

,year,make,model,trany,drive,fuelType,cylinders,displ
21506,1986,Mazda,RX-7,Manual 5-spd,Rear-Wheel Drive,Regular,0.0,1.3

In [30]:
data.loc[(data['cylinders']==0) & (data['displ']!=0), 'cylinders'] = 4

### LOW VARIANCE COLUMNS

90% of the values are the same so that we can remove them from our data set.  If the 90th percentile and the minimum are equal to each other, that means that at least 90% of the values in that column are the same and we will append that column name to our low_variance list.

In [35]:
low_var = []

for col in data._get_numeric_data():
    minimum = min(data[col])
    nin_per = np.percentile(data[col], 90)
    if nin_per == minimum:
        low_var.append(col)

In [36]:
print(low_var)

['barrelsA08', 'charge120', 'charge240', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2A', 'co2TailpipeAGpm', 'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'fuelCostA08', 'ghgScoreA', 'highwayA08', 'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'phevBlended', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA', 'UCityA', 'UHighwayA', 'charge240b', 'phevCity', 'phevHwy', 'phevComb']

In [37]:
data[low_var].head()

,barrelsA08,charge120,charge240,cityA08,cityA08U,cityCD,cityE,cityUF,co2A,co2TailpipeAGpm,...,rangeCity,rangeCityA,rangeHwy,rangeHwyA,UCityA,UHighwayA,charge240b,phevCity,phevHwy,phevComb
0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,-1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
1,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,-1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
2,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,-1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
3,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,-1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
4,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,-1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0

In [38]:
data = data.drop(low_var, axis = 1)

In [40]:
data.shape #less columns

(37843, 36)

### EXTREME VALUES AND OUTLIERS

A common method for identifying outliers is one that leverages the interquartile range (IQR). Once the IQR is calculated, it is multiplied by a constant (typically 1.5) and lower and upper bounds are established at:

- 25th Percentile - (IQR x 1.5)

- 75th Percentile + (IQR x 1.5)
<br>
<br>
Any values outside this range are potential outliers and should be investigated.

In [46]:
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000,0.000000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000,0.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429,167.437500
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000,6.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100,0.000000
cylinders,37843.0,5.719446,1.778959,0.00,4.00000,6.000000,6.000000,16.000000,2.000000
displ,37843.0,3.307658,1.371982,0.00,2.20000,3.000000,4.300000,8.400000,2.100000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000,4505.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000,700.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000,7.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000,0.000000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000,0.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000,0.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000,19109.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000,0.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000,13.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000,0.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000,91.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100,7.139300
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000,11.009600
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000,19.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000,3500.000000

In [47]:
outliers = pd.DataFrame(columns=data.columns)
for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data[(data[col] < lower) |
                   (data[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

/usr/local/lib/python3.7/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [48]:
outliers

,Outlier,UCity,UHighway,VClass,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,...,lv4,make,model,modifiedOn,mpgData,pv2,pv4,trany,year,youSaveSpend
47,barrels08,11.0000,15.0,Vans,32.961000,9,0.0,-1,888.700000,10,...,0,Dodge,B150/B250 Wagon 2WD,Tue Jan 01 00:00:00 EST 2013,N,0,0,Automatic 3-spd,1985,-10000
58,barrels08,12.0000,15.0,Vans,32.961000,10,0.0,-1,888.700000,10,...,0,Dodge,B350 Wagon 2WD,Tue Jan 01 00:00:00 EST 2013,N,0,0,Automatic 3-spd,1985,-10000
69,barrels08,12.0000,15.0,Vans,32.961000,10,0.0,-1,888.700000,10,...,0,Dodge,B350 Wagon 2WD,Tue Jan 01 00:00:00 EST 2013,N,0,0,Automatic 3-spd,1985,-10000
80,barrels08,11.0000,14.0,Vans,32.961000,9,0.0,-1,888.700000,10,...,0,Dodge,B350 Wagon 2WD,Tue Jan 01 00:00:00 EST 2013,N,0,0,Automatic 3-spd,1985,-10000
275,barrels08,11.0000,16.0,Standard Pickup Trucks,32.961000,9,0.0,-1,888.700000,10,...,0,Chevrolet,C1500 Pickup 2WD,Tue Jan 01 00:00:00 EST 2013,N,0,0,Automatic 4-spd,1993,-10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37475,youSaveSpend,8.0000,14.0,Two Seaters,41.201250,7,0.0,-1,1110.875000,8,...,0,Vector,W8,Tue Jan 01 00:00:00 EST 2013,N,0,0,Automatic 3-spd,1993,-18500
37615,youSaveSpend,13.0000,20.0,Subcompact Cars,27.467500,11,0.0,-1,740.583333,12,...,0,Jaguar,XJRS Coupe,Tue Jan 01 00:00:00 EST 2013,N,77,0,Automatic 3-spd,1993,-10250
37672,youSaveSpend,11.1111,18.0,Subcompact Cars,29.964545,9,0.0,-1,807.909091,11,...,0,Rolls-Royce,Continental,Tue Jan 01 00:00:00 EST 2013,N,82,0,Automatic 4-spd,1993,-11750
37673,youSaveSpend,11.1111,18.0,Subcompact Cars,29.964545,9,0.0,-1,807.909091,11,...,0,Rolls-Royce,Corniche IV,Tue Jan 01 00:00:00 EST 2013,N,82,0,Automatic 4-spd,1993,-11750
37827,youSaveSpend,12.0000,20.0,Compact Cars,29.964545,10,0.0,-1,807.909091,11,...,0,Rolls-Royce,Continental R,Tue Jan 01 00:00:00 EST 2013,N,89,0,Automatic 4-spd,1993,-11750

### DATA TYPES

In [49]:
data.dtypes

barrels08         float64
city08              int64
city08U           float64
co2                 int64
co2TailpipeGpm    float64
comb08              int64
comb08U           float64
cylinders         float64
displ             float64
drive              object
engId               int64
feScore             int64
fuelCost08          int64
fuelType           object
fuelType1          object
ghgScore            int64
highway08           int64
highway08U        float64
hlv                 int64
hpv                 int64
id                  int64
lv2                 int64
lv4                 int64
make               object
model              object
mpgData            object
pv2                 int64
pv4                 int64
trany              object
UCity             float64
UHighway          float64
VClass             object
year                int64
youSaveSpend        int64
createdOn          object
modifiedOn         object
dtype: object

In [50]:
data['year'] = data['year'].astype('object')
data['year'].dtype

dtype('O')

### CLEANING TEXT AND REMOVING SPECIAL CHARACTERS

In [51]:
# See unique values
data['trany'].value_counts()

Automatic 4-spd                     11042
Manual 5-spd                         8311
Automatic 3-spd                      3151
Automatic (S6)                       2638
Manual 6-spd                         2429
Automatic 5-spd                      2184
Manual 4-spd                         1483
Automatic 6-spd                      1432
Automatic (S8)                        960
Automatic (S5)                        824
Automatic (variable gear ratios)      681
Automatic 7-spd                       663
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        233
Auto(AM7)                             160
Auto(AV-S6)                           145
Auto(AM6)                             110
Automatic (A1)                        109
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           77
Manual 7-spd                           68
Auto(AV-S7)                            63
Automatic (S9)                         26
Auto(AV-S8)                            26
Manual 4-spd Doubled                   17
Auto(AM5)                              12
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (A6)                          4
Automatic (AV)                          4
Manual(M7)                              3
Automatic (AM5)                         2
Auto(L4)                                2
Auto(L3)                                2
Auto (AV)                               2
Automatic (AM6)                         1
Manual 5 spd                            1
Auto(AM-S9)                             1
Auto(A1)                                1
Auto (AV-S8)                            1
Automatic 6spd                          1
Auto (AV-S6)                            1
Name: trany, dtype: int64

In [52]:
print(set(data['trany']))

{nan, 'Automatic 9-spd', 'Automatic 6spd', 'Auto (AV)', 'Automatic 6-spd', 'Auto(AM-S8)', 'Automatic (S8)', 'Automatic (AM5)', 'Auto(AM8)', 'Auto(AM-S9)', 'Manual 4-spd Doubled', 'Automatic (AV-S6)', 'Automatic (S9)', 'Auto(AV-S8)', 'Auto (AV-S8)', 'Automatic (AV)', 'Manual 7-spd', 'Automatic 8-spd', 'Auto(AM-S7)', 'Automatic (S6)', 'Auto(L3)', 'Auto(AV-S7)', 'Automatic 5-spd', 'Auto(AM7)', 'Auto(A1)', 'Auto (AV-S6)', 'Manual 5 spd', 'Auto(AV-S6)', 'Automatic (variable gear ratios)', 'Auto(AM5)', 'Automatic (A6)', 'Auto(L4)', 'Automatic 7-spd', 'Automatic (S4)', 'Automatic 4-spd', 'Automatic 3-spd', 'Auto(AM6)', 'Automatic (A1)', 'Manual 3-spd', 'Manual(M7)', 'Automatic (S5)', 'Manual 5-spd', 'Automatic (S7)', 'Manual 6-spd', 'Auto(AM-S6)', 'Manual 4-spd', 'Automatic (AM6)'}

In [53]:
# Remove parentheses and make spacing more consistent
# Replace with Auto
data['trany'] = data['trany'].str.replace('Automatic', 'Auto')
data['trany'] = data['trany'].str.replace('Auto\(', 'Auto ')
data['trany'] = data['trany'].str.replace('Manual\(', 'Manual ')
data['trany'] = data['trany'].str.replace('\(', '')
data['trany'] = data['trany'].str.replace('\)', '')
print(set(data['trany']))

{nan, 'Auto 7-spd', 'Auto S6', 'Auto AM6', 'Auto S9', 'Auto AM-S9', 'Auto AM-S8', 'Auto 3-spd', 'Auto L3', 'Auto S5', 'Auto AV-S8', 'Manual 4-spd Doubled', 'Auto L4', 'Auto variable gear ratios', 'Manual 7-spd', 'Auto AV-S6', 'Auto 8-spd', 'Auto 6spd', 'Auto AV-S7', 'Auto S7', 'Manual M7', 'Manual 5 spd', 'Auto S4', 'Auto 9-spd', 'Auto AV', 'Auto AM-S6', 'Auto 6-spd', 'Auto AM7', 'Auto AM5', 'Auto A6', 'Auto A1', 'Auto 4-spd', 'Manual 3-spd', 'Auto AM-S7', 'Auto 5-spd', 'Manual 5-spd', 'Auto AM8', 'Manual 6-spd', 'Manual 4-spd', 'Auto S8'}

### FINDING AND REMOVING DUPLICATES

In [56]:
before = len(data)
data = data.drop_duplicates()
after = len(data)
print("Number of duplicate records dropped: ", str(before- after))
# doesn't work in this case because we are looking at the whole dataframe and sometimes it

Number of duplicate records dropped:  0

In [55]:
select_columns = ['make', 'model', 'year', 'displ', 'cylinders',
                  'trany', 'drive', 'VClass','fuelType','barrels08',
                  'city08', 'highway08', 'comb08', 'co2TailpipeGpm', 'fuelCost08']
data = data[select_columns].drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  885