### Import and export data

In [1]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/Myrto.Setzi/code_alongs/Ironhack Data Analytics.json"

In [2]:
from google.cloud import bigquery

In [3]:
client = bigquery.Client()

In [1]:
import pandas as pd

Download data from here https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/data-static/data/module-1/vehicles.zip

#### Comma delimited

In [3]:
# Import comma-separated variable file
data = pd.read_csv('vehicles/vehicles.csv')

# Import tab-delimited file
data = pd.read_csv('vehicles/vehicles_tab.txt', sep='\t')

# Import pipe-delimited file
data = pd.read_csv('vehicles/vehicles_pipe.txt', sep='|')

In [ ]:
# Export comma-separated variable file
data = data.to_csv('vehicles/vehicles.csv', index=False)

# Export tab-delimited file
data = data.to_csv('vehicles/vehicles_tab.txt', sep='\t', index=False)

# Export pipe-delimited file
data = data.to_csv('vehicles/vehicles_pipe.txt', sep='|', index=False)

#### Excel

In [ ]:
data = pd.read_excel('vehicles/vehicles.xlsx')

data.to_excel('vehicles/vehicles.xlsx', index=False)

#### JSON

In [ ]:
data = pd.read_json('vehicles/vehicles.json')

data.to_json('vehicles/vehicles.json')

- 'split': Dictionary containing indexes, columns, and data.
- 'index': Nested dictionaries containing {index:{column:value}}.
- 'columns': Nested dictionaries containing {column:{index:value}}
- 'values': Nested list where each sublist contains the values for a record.
- 'table': Nested dictionaries containing schema and data (records).

#### Writing to database

In [14]:
query='''
SELECT
 end_station_name,
 COUNT(*) AS total_trips
FROM 
    `bigquery-public-data.new_york.citibike_trips`
GROUP BY
     end_station_name
ORDER BY 
    total_trips DESC
'''

In [23]:
query_job = client.query(query=query)
df=query_job.to_dataframe()
df.head()

,end_station_name,end_station_longitude,end_station_latitude,total_trips
0,E 17 St & Broadway,-73.990093,40.737050,307500
1,W 21 St & 6 Ave,-73.994156,40.741740,277831
2,Lafayette St & E 8 St,-73.990765,40.730287,275154
3,West St & Chambers St,-74.013221,40.717548,266036
4,Broadway & E 14 St,-73.990741,40.734546,243596

In [22]:
full_table_id = 'car_dealership.new_table'
project_id = 'ironhack-data-analytics'

df.to_gbq(full_table_id, project_id=project_id)