<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Mapping" data-toc-modified-id="Mapping-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Mapping</a></span><ul class="toc-item"><li><span><a href="#Example-1-(Ironhack)" data-toc-modified-id="Example-1-(Ironhack)-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Example 1 (Ironhack)</a></span></li><li><span><a href="#Example-2" data-toc-modified-id="Example-2-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Example 2</a></span></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#Example-1-(Ironhack)" data-toc-modified-id="Example-1-(Ironhack)-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Example 1 (Ironhack)</a></span></li><li><span><a href="#Example-2" data-toc-modified-id="Example-2-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Example 2</a></span></li></ul></li><li><span><a href="#Reducing" data-toc-modified-id="Reducing-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Reducing</a></span><ul class="toc-item"><li><span><a href="#Example-1-(Ironhack)" data-toc-modified-id="Example-1-(Ironhack)-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Example 1 (Ironhack)</a></span></li><li><span><a href="#Example-2" data-toc-modified-id="Example-2-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Example 2</a></span></li></ul></li><li><span><a href="#Applying-them-in-Pandas" data-toc-modified-id="Applying-them-in-Pandas-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Applying them in Pandas</a></span><ul class="toc-item"><li><span><a href="#Example-1-(Ironhack)" data-toc-modified-id="Example-1-(Ironhack)-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Example 1 (Ironhack)</a></span></li></ul></li></ul></div>

# Mapping

## Example 1 (Ironhack)

For example, let's create a function that divides a number by 2 and returns the result.

In [1]:
def half(x):
    return x/2

Now that we have our function, let's apply it to a list of numbers.

In [2]:
l = [10, 12, 34, 23]
map(half, l)

The map() function creates a map object which is an iterable object. To create a new list, one option is to convert the iterable into a list.

In [3]:
list(map(half, l))

[5.0, 6.0, 17.0, 11.5]

## Example 2

In [4]:
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)

In [5]:
print(squared)

[1, 4, 9, 16, 25]

In [6]:
# Let's now do it using map and a lambda function!

items = [1, 2, 3, 4, 5]

x = lambda i : i**2 

list(map(x, items))

# or squared2 = list(map(lambda x: x**2, items))

[1, 4, 9, 16, 25]

# Filtering

## Example 1 (Ironhack)

 For example, we can create a function that returns true if a number is odd and false if it is even. Do it using a lambda function!

In [8]:
function = lambda i : i % 2 == 0

Again, this returns an iterable, so we will cast it to a list.

In [10]:
list(map(function, l))

# or list(filter(lambda x: x % w == 1, l))

[True, True, True, False]

## Example 2

In [12]:
number_list = range(-5, 5)

Filtering the negative numbers:

In [13]:
list(filter(lambda x: x < 0, number_list))

[-5, -4, -3, -2, -1]

# Reducing

## Example 1 (Ironhack)

For example, if we would like to create a summation function using reduce(), we will sum two elements at a time.
Let's write a lambda expression that will take two elements and sum them.

In [14]:
summation = lambda a, b: a + b

By passing this lambda expression to the reduce() function (along with a list [10, 12, 34, 23]), we will perform the following operations in this order:

- a = 10
- a = 12 + 10 = 22
- a = 22 + 34 = 56
- a = 56 + 23 = 79

In [17]:
from functools import reduce
l = [10, 12, 34, 23]
reduce(summation, l)

79

Here is another example of reduce(). This time we will use reduce() to find the maximum of a list. We will do this by comparing two elements at a time and returning the largest of the two.

In [20]:
reduce(lambda a, b: a if a > b else b, l)

34

## Example 2

For example, if you wanted to compute the product of a list of integers.
So the normal way you might go about doing this task in python is using a basic for loop:

In [28]:
product = 1
lst = [1, 2, 3, 4]
for num in lst:
    product = product * num

Now let’s try it with reduce:

In [29]:
reduce(lambda a , b: a * b, lst)

24

# Applying them in Pandas

## Example 1 (Ironhack)

Here is the example of a dataframe

In [21]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])
df

          a         b         c
0  1.789150  1.952686  1.331251
1 -0.255352 -1.813122 -0.127235
2 -0.950691  1.951356 -0.873048
3  1.694203 -0.481160 -0.115498

We can use the half() function we defined earlier and apply it to every cell in the dataframe.

In [22]:
def range_func(x):
    return max(x) - min(x)

Furthermore, we can define an aggregate function that will return the range of a column (the difference between the maximum and the minimum values).

In [23]:
df.apply(range_func)

a    2.739841
b    3.765808
c    2.204299
dtype: float64

When we apply the function to our dataframe, it will compute the range for each column by default.

In [24]:
df.apply(max) - df.apply(min)

a    2.739841
b    3.765808
c    2.204299
dtype: float64