## Connect to BigQuery

In [25]:
data = 'ironhack_service_account_big_query.json'

In [26]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]=data

from google.cloud import bigquery

In [27]:
# Instantiates a client for BigQuery Service
client = bigquery.Client()

In [28]:
import six
six.moves.reload_module(six)

In [29]:
from google.cloud import bigquery

In [61]:
QUERY_1 = (
    '''
    SELECT 
    stor_id, 
    SUM(qty) AS quantity_total
    
    FROM `ironhack-data-analytics-265219.publications.sales`
   
    
    LIMIT 10''')

In [62]:
query_job = client.query(query=QUERY_1)

In [63]:
df = query_job.to_dataframe()

BadRequest: 400 Column 2 contains an aggregation function, which is not allowed in GROUP BY at [7:17]

(job ID: 796a72fd-739b-4e9b-a7ec-5cada2c2e76c)

                 -----Query Job SQL Follows-----

    |    .    |    .    |    .    |    .    |    .    |    .    |
   1:
   2:    SELECT
   3:    stor_id,
   4:    SUM(qty) AS quantity_total
   5:
   6:    FROM `ironhack-data-analytics-265219.publications.sales`
   7:    GROUP BY 1, 2, 3, 4
   8:
   9:    LIMIT 10
    |    .    |    .    |    .    |    .    |    .    |    .    |

In [64]:
df.head(10)

  stor_id   ord_num    ord_date qty    payterms title_id
0    6380      722a  1994-09-13   3      Net 60   PS2091
1    6380      6871  1994-09-14   5      Net 60   BU1032
2    7066  QA7442.3  1994-09-13  75  ON invoice   PS2091
3    7066     A2976  1993-05-24  50      Net 30   PC8888
4    7067     P2121  1992-06-15  20      Net 30   TC4203
5    7067     P2121  1992-06-15  40      Net 30   TC3218
6    7067     P2121  1992-06-15  20      Net 30   TC7777
7    7067     D4482  1994-09-14  10      Net 60   PS2091
8    7131   N914008  1994-09-14  20      Net 30   PS2091
9    7131   N914014  1994-09-14  25      Net 30   MC3021

## Subqueries

In [ ]:
# If we wanted to then show the average number of items per order and average quantity per item for each store

In [ ]:
# Suppose we wanted to see sales by title for the two stores that averaged more than one item per order. 
# We can obtain these results by adding the stor_id field to our subquery, joining the subquery results to the sales table, 
# creating another join between the sales table and the title table, and then adding a WHERE clause to the main query so 
# that it returns only results 
# where the average items per order were greater than 1.

In [16]:
query='''

    '''

__What are the most popular Citibike destinations for NYC couples?__

- Group Citibike trips together into ones that start and end at about the same time. 
- If the grouped-together trip had more than one person in it, then it’s counted as a group trip. 
- This could be a couple riding together, or a group of friends or family. 
- Possibly it could be people that happened to check out a bike at the same time and go to the same place at the same rate- considering that a rare occurrence. 
- Find which stations have the highest percentage of trips from groups versus single-rider trips.

https://medium.com/@TimSwast/what-are-the-most-popular-citibike-destinations-for-nyc-couples-1baf646fbba

In [ ]:
# Use this table `bigquery-public-data.new_york.citibike_trips`

query_subquery='''

'''

## Action queries