## Connect to BigQuery

In [3]:
data = 'ironhack_service_account_big_query.json'

In [4]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]=data

from google.cloud import bigquery

In [5]:
# Instantiates a client for BigQuery Service
client = bigquery.Client()

In [6]:
import six
six.moves.reload_module(six)

In [22]:
from google.cloud import bigquery

In [23]:
QUERY_1 = (
    """
    SELECT * FROM `ironhack-data-analytics-265219.publications.sales`
    LIMIT 100""")

In [24]:
query_job = client.query(query=QUERY_1)

In [18]:
df = query_job.to_dataframe()

BadRequest: 400 Project name needs to be separated by dot from dataset name, not by colon in table name "ironhack-data-analytics-265219:publications.sales".

(job ID: 9750ce9b-add7-4e2e-bfa9-c6d5d62c2471)

                     -----Query Job SQL Follows-----

    |    .    |    .    |    .    |    .    |    .    |    .    |
   1:
   2:    SELECT * FROM `ironhack-data-analytics-265219:publications.sales`
   3:    LIMIT 100
    |    .    |    .    |    .    |    .    |    .    |    .    |

In [15]:
df.head(10)

  state gender  year       name  number
0    TX      F  1910    Frances     197
1    TX      F  1910      Alice     149
2    TX      F  1910   Beatrice     123
3    TX      F  1910       Ella     102
4    TX      F  1910   Gertrude      97
5    TX      F  1910  Josephine      86
6    TX      F  1910       Lula      77
7    TX      F  1910    Blanche      50
8    TX      F  1910   Marjorie      40
9    TX      F  1910  Christine      34

## Subqueries

In [ ]:
# If we wanted to then show the average number of items per order and average quantity per item for each store

In [ ]:
# Suppose we wanted to see sales by title for the two stores that averaged more than one item per order. 
# We can obtain these results by adding the stor_id field to our subquery, joining the subquery results to the sales table, 
# creating another join between the sales table and the title table, and then adding a WHERE clause to the main query so 
# that it returns only results 
# where the average items per order were greater than 1.

In [16]:
query='''

    '''

__What are the most popular Citibike destinations for NYC couples?__

- Group Citibike trips together into ones that start and end at about the same time. 
- If the grouped-together trip had more than one person in it, then it’s counted as a group trip. 
- This could be a couple riding together, or a group of friends or family. 
- Possibly it could be people that happened to check out a bike at the same time and go to the same place at the same rate- considering that a rare occurrence. 
- Find which stations have the highest percentage of trips from groups versus single-rider trips.

https://medium.com/@TimSwast/what-are-the-most-popular-citibike-destinations-for-nyc-couples-1baf646fbba

In [ ]:
# Use this table `bigquery-public-data.new_york.citibike_trips`

query_subquery='''

'''

## Action queries