### Steps of data preparation

- Exploratory Data Analysis
- Dealing with Missing Values
- Data Transformations
- Dealing with Outliers
- Dealing with Imbalanced Data

https://www.kdnuggets.com/2017/06/7-steps-mastering-data-preparation-python.html/2

### Import libraries

In [1]:
import numpy as np
import pandas as pd

### Analysis

In [24]:
# Read the data

In [25]:
# Check the first 5 rows of the data frame

In [26]:
# Info about the dataset

In [27]:
# Number of passengers in each class

In [28]:
# Number of passengers in each gender

In [29]:
# Number of men and women in each of the passenger class

In [30]:
# Number of passengers who survived in each class grouped by sex. Also total was found for each class grouped by sex.

In [31]:
# Only choose passengers that did not survive

In [32]:
# Number of passengers who did not survive in each class grouped by sex.

In [33]:
# Passengers who survived and who didn't survive grouped by class and sex

In [34]:
# Understand age distribution

In [35]:
# How many null values do we  have?

In [36]:
# See the rest of the columns

In [37]:
# titanic_df['Age'].fillna((titanic_df['Age'].mean()), inplace=True)
# Drop missing values for the records in which age passenger is missing

In [38]:
# Create a function to define those who are children (less than 16)

In [39]:
# Apply this function

In [40]:
# Can you now do the same with a lambda function?

In [42]:
# Who was alone and who was with parents or siblings? Create a new column

In [43]:
# Drop the null  values for Cabin - should we?

In [44]:
# Create new column out of 'sruvived' column with 'no' for 0 and 'yes' for 1